@model Groupify.ViewModels.Group.DetailsGroupViewModel


@{
    ViewData["Title"] = "Group Details";
}

<div class="row text-center">
    <h2>
        Group @Model.Group.GroupNumber in room
        <a asp-action="Details" asp-route-roomId="@Model.Group.RoomId">
            @Model.Group.Room.Name
        </a>
    </h2>
</div>

<div class="row">
    <div class="col-md-6">
        <h3 class="text-center">Members</h3>
        <ul>
            @foreach (var user in Model.Group.Users)
            {
                <li>@user.UserName - Wheel position: @user.Insight?.WheelPosition</li>
            }
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-center">Average Group Insights</h3>
        <ul>
            <li>Average Wheel Red: @Model.GroupInsight[0]</li>
            <li>Average Wheel Green: @Model.GroupInsight[1]</li>
            <li>Average Wheel Blue: @Model.GroupInsight[2]</li>
            <li>Average Wheel Yellow: @Model.GroupInsight[3]</li>
        </ul>
    </div>
</div>